table.style01{
	width: 300px;
}

td{
	text-align: center;
}

td.left{
	width: 50%;
	text-align: right;
}

td.right{
	width: 50%;
	text-align: left;
}

svg.area{
	width: 400px;
	height: 400px;
	background-color: #ddeeff;
	position: absolute;
   	left: 800px;
   	top: 100px;
}

div.mainText{
	width: 750px;
}
